<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/register">Need an account?</a>
        </p>
        <% if @error_message %>
          <ul class="error-messages">
            <li><%= @error_message %></li>
          </ul>
        <% end %>
        <%= form_tag("/login") do %>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Email" name="email" value="<%= @email %>" />
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="Password" name="password" value="<%= @password %>" />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" >Sign in</button>
        <% end %>
      </div>
    </div>
  </div>
</div>